<div class="uk-accordion-content uk-card uk-card-body">
  <p>You can use <a href="https://github.com/Carthage/Carthage" target="_blank">Carthage</a> by creating a cartfile that contains this:</p>
  {%- assign path = "snippets/installation/getting-started/" %}
  {%- assign languages = "cart:Carthage" %}
  {%- include codeblock.html l=languages p=path m=true h=false filename='1' %}
  <p class="uk-margin-remove-top">Run carthage to build the framework and drag the built CryptoSwift.framework into your Xcode project. Follow <a href="https://github.com/Carthage/Carthage#getting-started" target="_blank">build instructions</a>.</p>
  <div class="uk-alert uk-border-rounded uk-margin-remove-top">
    <p class="uk-h3 uk-padding-remove-vertical uk-margin-remove-bottom">Common Issues</p>
    <p class="uk-margin-remove-top">Review the following <a href="https://github.com/krzyzanowskim/CryptoSwift/issues/492#issuecomment-330822874" target="_blank">commonly reported issues</a>.</p>
  </div>
</div>