<p>You can install CryptoSwift, by <a href="#download-modal" uk-toggle title="Click to show the download window" uk-tooltip>downloading</a> the latest release as either as zip or tar.gz file, or alternatively add it as a submodule to your project (a top level project directory).</p>
<div class="uk-alert uk-border-rounded">
  <p class="uk-h3 uk-padding-remove-vertical uk-margin-remove-bottom">Performance Consideration</p>
  <ul class="uk-list uk-list-bullet">
    <li>We recommend that you enable <a href="https://swift.org/blog/whole-module-optimizations/" target="_blank">Whole-Module Optimization</a> to improve performance.</li>
    <li>Non-optimized builds will perform significantly worse.</li>
  </ul>
</div>