<div class="uk-accordion-content">
  <div class="uk-card uk-card-body uk-card-small uk-margin-remove-top uk-padding-remove-top">
    <ul class="uk-list uk-list-striped">
      <li>Swift 1.2: branch <a href="https://github.com/krzyzanowskim/CryptoSwift/tree/swift12" target="_blank">swift12</a> version <= 0.0.13</li>
      <li>Swift 2.1: branch <a href="https://github.com/krzyzanowskim/CryptoSwift/tree/swift21" target="_blank">swift21</a> version <= 0.2.3</li>
      <li>Swift 2.2, 2.3: branch <a href="https://github.com/krzyzanowskim/CryptoSwift/tree/swift2" target="_blank">swift2</a> version <= 0.5.2</li>
      <li>Swift 3.1, branch <a href="https://github.com/krzyzanowskim/CryptoSwift/tree/swift3" target="_blank">swift3</a> version <= 0.6.9</li>
      <li>Swift 3.2, branch <a href="https://github.com/krzyzanowskim/CryptoSwift/tree/swift32" target="_blank">swift32</a> version = 0.7.0</li>
      <li>Swift 4.0, branch <a href="https://github.com/krzyzanowskim/CryptoSwift/tree/master" target="_blank">master</a> version >= 0.7.1</li>
    </ul>
  </div>
</div>