<div class="uk-accordion-content">
  <p>You can use <a href="https://swift.org/package-manager/" target="_blank">Swift Package Manager</a> and specify the CryptoSwift dependency in <code>Package.swift</code> by adding this:.</p>
  {%- assign path = "snippets/installation/getting-started/" %}
  {%- assign languages = "swift:Swift" %}
  {%- include codeblock.html l=languages p=path m=true h=false filename='1' %}
  <p>or more strictly with this:</p>
  {%- assign path = "snippets/installation/getting-started/" %}
  {%- assign languages = "swift:Swift" %}
  {%- include codeblock.html l=languages p=path m=true h=false filename='2' %}
  <div class="uk-alert uk-border-rounded uk-margin-remove-top">
    <p class="uk-h3 uk-padding-remove-vertical uk-margin-remove-bottom">If you need more details</p>
    <p class="uk-margin-remove-top">Refer to this <a href="https://blog.krzyzanowskim.com/2016/08/09/package-swift-manual/" target="_blank">manual on Swift Package Manager</a>.</p>
  </div>
</div>