<div class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-text-center uk-container-large">
    <h2 id="algorithms" class="uk-h1 uk-heading-large uk-margin-bottom-remove">Ciphers</h2>
    <p class="uk-text-large uk-text-justify uk-padding-small">A cipher is an algorithm for performing encryption or decryption—a series of well-defined steps that can be followed as a procedure.</p>
    <div class="uk-grid uk-grid-divider uk-grid-margin uk-padding-small" uk-grid>
      <div class="uk-width-1-2@s uk-width-1-3@l uk-width-1-4@xl">
        <div class="uk-panel">
          <h2>AES-128, AES-192, AES0256</h2>
          <p class="uk-text-justify"><a href="https://csrc.nist.gov/csrc/media/publications/fips/197/final/documents/fips-197.pdf" target="_blank">The Advanced Encryption Standard algorithm</a> specifies a FIPS-approved cryptographic algorithm that can be used to protect electronic data. The AES algorithm is a symmetric block cipher that can encrypt (encipher) and decrypt (decipher) information.</p>
        </div>
      </div>
      <div class="uk-width-1-2@s uk-width-1-3@l uk-width-1-4@xl">
        <div class="uk-panel">
          <h2>ChaCha20</h2>
          <p class="uk-text-justify">The <a href="http://cr.yp.to/chacha/chacha-20080128.pdf" target="_blank">ChaCha family</a> of stream ciphers, a variant of the Salsa20 family. The Salsa20/20 stream cipher expands a 256-bit key into 264 randomly accessible streams, each containing 264 randomly accessible 64-byte blocks.</p>
        </div>
      </div>
      <div class="uk-width-1-2@s uk-width-1-3@l uk-width-1-4@xl">
        <div class="uk-panel">
          <h2>Rabbit</h2>
          <p class="uk-text-justify">The <a href="https://tools.ietf.org/html/rfc4503" target="_blank">Rabbit Stream Cipher Algorithm</a> is a stream cipher algorithm with a 128-bit key and 64-bit initialization vector (IV). Its high performance makes it particularly suited for the use with Internet protocols where large amounts of data have to be processed.</p>
        </div>
      </div>
      <div class="uk-width-1-2@s uk-width-1-3@l uk-width-1-4@xl">
        <div class="uk-panel">
          <h2>Blowfish</h2>
          <p class="uk-text-justify">The <a href="https://www.schneier.com/academic/blowfish/" target="_blank">Blowfish Encryption Algorithm</a> is a symmetric block cipher that can be used as a drop-in replacement for DES or IDEA. It takes a variable-length key, from 32 bits to 448 bits, making it ideal for both domestic and exportable use. Blowfish was designed in 1993 by Bruce Schneier as a fast, free alternative to existing encryption algorithms.</p>
        </div>
      </div>
    </div>
  </div>
</div>   