<div class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-text-center uk-container-large">
    <h2 id="algorithms" class="uk-h1 uk-heading-large uk-margin-bottom-remove">Cyclic Redundancy Checks</h2>
    <p class="uk-text-large uk-text-justify uk-padding-small">A cyclic redundancy check (CRC) is an error-detecting code commonly used in digital networks and storage devices to detect accidental changes to raw data</p>
    <div class="uk-grid uk-grid-divider uk-grid-margin uk-padding-small" uk-grid>
      <div class="uk-width-1-2@s">
        <div class="uk-panel">
          <h2>CRC32</h2>
          <p class="uk-text-justify"><a href="https://en.wikipedia.org/wiki/Cyclic_redundancy_check#CRC-32_algorithm" target="_blank">The CRC32 algorithm</a> is a variant of CRC with 33 bits. The CRCTable is a memoization of a calculation that would have to be repeated for each byte of the message.</p>
        </div>
      </div>
      <div class="uk-width-1-2@s">
        <div class="uk-panel">
          <h2>CSR16</h2>
          <p class="uk-text-justify">The <a href="https://en.wikipedia.org/wiki/Cyclic_redundancy_check#Polynomial_representations_of_cyclic_redundancy_checks" target="_blank">CRC16 algorithm</a> has nineteen conflicting definitions for 17 bits CRC-16. </p>
        </div>
      </div>
    </div>
  </div>
</div>