# Add any directories, files, or patterns you don't want to be tracked by version control
_site
.sass-cache
.vagrant
remove-Gemfile
Gemfile
# general
.DS_Store
Thumbs.db
ehthumbs.db
Gemfile
.vscode
Gemfile
.exe
.out