{%- if IgnoreTheseComments %}
<!-- 
  id: html id prefix "{id}-modal"
  title: window title
  url: body url
 -->
{%- endif %}
{%- include /helpers/theme.html %}
<div id="{{ include.id }}-modal" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">{{ include.title }}</h2>
    </div>
    {%- if theme.modalwindow.dark == true %}
      {%- assign cardcolor = "uk-card-secondary" %}
    {%- else %}
      {%- assign cardcolor = "uk-card-default" %}
    {%- endif %}
    <div class="mod-modal-body uk-modal-body uk-card {{ cardcolor }} uk-card-small">
      {%- include {{ include.url }} %}
    </div>
  </div>
</div>