<a class="uk-panel mod-panel-link" href="https://github.com/krzyzanowskim/CryptoSwift/issues">
  <div class="mod-icon"><i uk-icon="icon: github; ratio: 2;"></i></div>
  <h2 id="get-involved">Github</h2>
  <p class="uk-text-justify uk-margin-small uk-padding-small uk-text-bold">Fork CryptoSwift and send a pull request, open an issue for a bug or for a feature request.</p>
</a>
<div class="uk-container uk-text-center uk-margin-small-top">
    <a class="mod-donation uk-button uk-button-danger uk-border-rounded uk-button-small" href="#contribute-modal" uk-toggle title="Click to see the tips" uk-tooltip>Tips</a>
</div>