{%- if include.f.title.text == "" %}
{%- else %}
<div class="uk-card uk-card-body uk-text-center uk-margin-small uk-padding-small">
  <h1 id="{{ include.f.title.text | replace: ' ', '-' | downcase }}" class="uk-heading-hero" style="letter-spacing: 1px;" {{ include.f.title.css-attribute }}><span>{{ include.f.title.text }}</span></h1>
</div>
{%- endif %}
<div class="mod-feature-column uk-section uk-section-default uk-section-small uk-padding-small">
  <div class="uk-container uk-text-center uk-container-large">
  {%- if include.f.subtitle.text == "" %}
  {%- else %}
    <h1 class="mod-feature-contribution-title uk-heading-large uk-margin-remove-bottom uk-margin-medium-top" {{ include.f.subtitle.css-attribute }}>{{ include.f.subtitle.text }}</h1>
  {%- endif %}
    <div class="uk-text-left" {{ include.f.content.css-attribute }}>
      {%- if include.f.overview-url == "" %}
      {%- else %}
        {%- include {{ include.f.overview-url }} %}
      {%- endif %}
    </div>   
    <div class="uk-grid uk-grid-divider uk-grid-margin uk-padding-remove-vertical" uk-grid {{ include.f.content.css-attribute }}>
      {%- for install in include.f.sections %}
      <div class="uk-width-1-3@s">
        {%- include {{ install.url }} %}
      </div>
      {%- endfor %}
    </div>
  </div>
</div>