{%- if include.f.title.text == "" %}
{%- else %}
<div class="uk-card uk-card-body uk-text-center uk-margin-small uk-padding-small">
  <h1 id="{{ include.f.title.text | replace: ' ', '-' | downcase }}" class="uk-heading-hero" style="letter-spacing: 1px;" {{ include.f.title.css-attribute }}><span>{{ include.f.title.text }}</span></h1>
</div>
{%- endif %}
<div class="mod-feature-tab">
  {%- if include.f.subtitle.text == "" %}
  {%- else %}
  <center><h1 style="letter-spacing: 1px;" {{ include.f.subtitle.css-attribute }}>{{ include.f.subtitle.text }}</h1></center>
  {%- endif %}
  <div class="uk-text-left" {{ include.f.content.css-attribute }}>
    {%- if include.f.overview-url == "" %}
    {%- else %}
      {%- include {{ include.f.overview-url }} %}
    {%- endif %}
  </div>  
  <div class="uk-container uk-container-expand uk-margin-small-top">
    <div class="mod-feature-tab uk-card uk-card-default uk-card-body uk-card-small uk-margin-remove-bottom uk-border-rounded" uk-sticky="offset: 90; bottom: true">
      <ul class="uk-iconnav uk-flex-center" uk-tab="connect: .mod-index-tabs; animation: uk-animation-fade;">
      {%- for algorithm in include.f.sections %}
        <li><a class="uk-text-bold" href="#">{{ algorithm.menu-title }}</a></li>
      {%- endfor %}
      </ul>
    </div>
    <div class="mod-feature-tab uk-card uk-card-default uk-card-body uk-card-small uk-margin-remove-bottom uk-border-rounded" {{ include.f.content.css-attribute }}>
      <ul class="mod-index-tabs uk-switcher uk-margin uk-margin-remove-top">
      {%- for algorithm in include.f.sections %}
        <li>{%- include {{ algorithm.url }} %}</li>
      {%- endfor %}
      </ul>
    </div>
  </div>
</div>